
h1{
    margin-top: 0px;
    font-size: 90px;
    font-family: 'Sacramento', cursive;
    color: #2155CD;
    
}
h2{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: bolder;

}
h3{
    font-family: 'Montserrat', sans-serif;

}
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans',serif;
}
.head{
    position: relative;
    top: 60px;
}
.head1{
    position: relative;

}
.sun{
    width: 200px;
    position: absolute;
    right: 350px;
}
.cloud1{
    width: 220px;
    position: relative;
    left: -350px;
}
.cloud2{
    width: 180px;
    position: relative;
    right: -450px;
    top: -220px;
   
}
/*.aero{
    position: relative;
    right: -50px;
}*/
.land{
    width: 1510px;
    position: relative;
   

}
.bird{
    position: relative;
    right: 400px;
    top: -20px;
}
.balloon{
    width: 250px;
    position: relative;
    left: -700px;
    top: -30px;
}
.profile{
    font-size: 40px;
   
}


.profile img{
    width: 300px;
    position: relative;
    left: -500px;
    top: 15px;
}


.first{
    background-color: #E8F9FD;
}
.second{
    margin: 0;
    background-color:#cbff7d;
    text-align: center;
 
    
}
.third
{
   margin: 0;
   /*background-color:#cbff7d;*/

}
p{
    font-weight: bolder;
}
.fourth{
    background-color:#b1ff83;

}
.fifth{
    background-color:#cbff7d;

}
.content{
    display: inline;
    position: relative;
    top: -200px;
    left: 30px;
    margin: 0;
  }
  .content-hobbie{
      font-weight: bolder;
      font-size: 30px;
      display: inline;
    position: relative;
    top: -240px;
    left: -30px;
    margin: 0;
  }